cirq-core == 1.4.1
cuda-quantum == 0.8.0
genQC == 0.1.0
mypy == 1.11.2
numpy == 1.26.4
pennylane == 0.38.1
pennylane-lightning == 0.38.0
pytket == 1.32.0
pytket-qiskit == 0.56.0
pytket-cirq == 0.37.0
pytest == 8.3.3
pytest-mock == 3.14.0
qiskit == 1.2.2
qiskit_aer == 0.15.1
qiskit-aer-gpu == 0.15.1
qiskit_ibm_runtime == 0.30.0
qiskit-transpiler-service == 0.4.10
ruff == 0.6.7
tket2 == 0.3.0
tequila-basic == 1.9.7